<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>791175027577-45k8p62mtpanv2j99b0afvvpril5ikfs.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.791175027577-45k8p62mtpanv2j99b0afvvpril5ikfs</string>
    <key>API_KEY</key>
    <string>AIzaSyA_gv7xYjY59EiiihkLWi4WJ_WjcpEiGCU</string>
    <key>GCM_SENDER_ID</key>
    <string>791175027577</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.mobiledev.adon</string>
    <key>PROJECT_ID</key>
    <string>adon-788b7</string>
    <key>STORAGE_BUCKET</key>
    <string>adon-788b7.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:791175027577:ios:e140ade1f9f31980de6da8</string>
    <key>DATABASE_URL</key>
    <string>https://adon-788b7-default-rtdb.firebaseio.com</string>
    <key>ADMOB_APP_ID</key>
    <string>ca-app-pub-5066878139243546~3566978178</string>
</dict>
</plist>
